@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500&display=swap');

body {
    background: linear-gradient(-45deg, #ee582a, #b01b54, #264deb, #23d5ab);
    background-size: 2000px 2000px;
    animation: gradient 15s ease infinite;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    
}

.about-container{
    position: absolute;
    top: 20%;
    bottom: 20%;
    left: 25%;
    right: 25%;
    text-align: center;
    font-size: 1.5em;
}

.line {
    width: 110px;
    height: 2px;
    display: inline-block;
    background-color: black;
    margin-bottom: 20px;
}

.desc {
    color: #FFF;
}

.about-btn{
    margin: 20px auto;
    border: none;
    border-radius: 20px;
    padding-bottom: 10px;
    height: 30px;
    width: 150px;
    font-size: 0.8em;
    background-color: white;
    color: black
}

button:hover{
    background-color: #23d5ab;
    color: white;
    background-color: rgba(0, 0, 0, 0.253);
    transition: 0.5s ease;
}

