
  .btn-primary {
    background-color: #3399ff;
    text-align: center;
    border: none;
  }
  .btn-primary:hover {
    background-color: #3399ff;
    border:none;
  }
  .section-header {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    font: 300 60px 'Oswald', sans-serif;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-family: 'IBM Plex Sans', serif;

  }
  .contact-wrapper{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
  }

  .img{
    width: 90%;
    height:auto;
    padding: 1rem 0 1rem 8rem;
  }

  
  .form-control, 
  textarea {
    max-width: 80%;
    background-color: #fff;
    color: #000;
    letter-spacing: 1px;
  }

  .send-button {
    margin-top: 15px;
    height: 34px;
    width: 80%;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }

  img{
    width: 100%;
  }

  form {
    width: 100%;
  }
  
  .alt-send-button {
    width: 100%;
    height: 34px;
    transition: all .2s ease-in-out;
  }

  .send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
  }

  .alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
  }

  input {
    margin-bottom: 3%;
  }

  /* Begin Media Queries*/
  @media screen and (max-width: 550px) {
    textarea, input{
        margin-left: 5%;
    }
    .img{
      width: 60%;
      
    }
  }
  