@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&family=Baloo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
  /*Author Name:Om Gaydhane https://github.com/omgaydhane
    Date Modified:01-10-2022
  */
}

.brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  /*Author Name:Om Gaydhane https://github.com/omgaydhane
    Date Modified:01-10-2022
  */
}

.search::placeholder {
  font-size: 1.2rem;
}

.btn {
  font-weight: 700;
}

.home {
  font-size: 1.5rem;
}

