
@import url("https://fonts.googleapis.com/css2?family=Lily+Script+One&family=Baloo+2&display=swap");

* {
  font-family: "Baloo Bhaijaan 2", cursive;
  margin:0px;
  padding:0px
}

.brand {
  font-family: "Lily Script One", cursive;
  font-size: 2rem;
}

.search::placeholder {
  font-size: 1.0rem;
}

.btn {
  font-weight: 500;
}

.home {
  font-size: 1.0rem;
}
