<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Noter JS</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Teko&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz@1,8..144&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!--Style for all new functions-->
  <!--Style for font, body, navbar, buttons and search bar-->
  <!-- Animated Backround fitting of theme-->
  <!--Currently unused (for now) style for dropdown menu-->
  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <!-- NAVIGATION BAR STARTS NAVIGATION BAR STARTS -->
  <!-- NAVIGATION BAR STARTS NAVIGATION BAR STARTS -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

      <a class="navbar-brand" href="/">NOTER JS</a>


      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="home nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="home nav-link" href="/about">ABOUT <span class="sr-only"></span></a>
          </li>
          <li class="nav-item active">
            <a class="home nav-link" href="/contact">CONTACT <span class="sr-only"></span></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="custom_search form-control mr-sm-2" id="searchTxt" type="search" placeholder="Search"
            aria-label="Search">
          <button class="ml-lg-3 btn btn-success my-2 my-sm-0 tx--white" type="submit" ripple="ripple">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <!-- NAVIGATION BAR ENDS NAVIGATION BAR ENDS -->
  <!-- NAVIGATION BAR ENDS NAVIGATION BAR ENDS -->

  <div class="container my-3 pt-3">
    <h1><b>Welcome To Noter JS</b></h1>
    <div class="" style="background-color: none !important;">
      <div class="card-body p-0 bg-none">
        <!-- <h5 class="card-title">Add a note</h5> -->
        <div class="form-group">
          <input class="form-control mb-4" id="addTitle" rows="1" placeholder="Enter a Title"></input>
          <textarea class="form-control" id="addTxt" rows="3" placeholder="Enter a Note"
            style="min-height:40px"></textarea>
        </div>

        <div class="button-container">
          <button class="ml-lg-0 btn btn-success my-2 my-sm-0 tx--white" id="addBtn" ripple="ripple">Add
            Note</button>
          <button class="btn btn-success invisible search_button tx--white" id="editBtn" ripple="ripple">Edit
            Note</button>
        </div>
      </div>
    </div>
    <br>
    <h1><b>Checkout Your Notes</b></h1>

    <div class="container p-0">
      <div id="notes" class="row margin"></div>
    </div>
  </div>
  <script src="slim_notifier.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="app.js"></script>
</body>

</html>